<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
  <title>Profile</title>
</head>
<body id="body">
<div class="container">
  <main>

    <div class="main__cards">
      <!-- CHARTS STARTS HERE -->
      <div class="charts">
        <div class="charts__left">
          <div class="charts__left__title">
            <div>
              <h1>Your Profile</h1>
              <p>From here you can create new accounts, edit existing or delete.</p>
              <br>


            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>
