<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
  <title>Dashboard</title>
</head>
<body id="body">
<div class="container">


  <main>
    <div class="main__container">
      <!-- MAIN TITLE STARTS HERE -->

      <div class="main__title">
        <img src="assets/hello.svg" alt="" />
        <div class="main__greeting">
          <h1>Hello,</h1>
          <p>Welcome to your admin dashboard!</p>
        </div>
      </div>
      <!-- MAIN TITLE ENDS HERE -->

      <!-- MAIN CARDS STARTS HERE -->
      <div class="main__cards">

        <div class="card">
          <i
            class="fa fa-users fa-2x text-lightblue"
            aria-hidden="true"
          ></i>
          <div class="card_inner">
            <p class="text-primary-p">Registered Students</p>
            <span class="font-bold text-title">{{numberOfStudents}}</span>
          </div>
        </div>

        <div class="card">
          <i class="fa fa-users fa-2x text-red" aria-hidden="true"></i>
          <div class="card_inner">
            <p class="text-primary-p">Registered Teachers</p>
            <span class="font-bold text-title">{{numberOfTeachers}}</span>
          </div>
        </div>

        <div class="card">
          <i
            class="fa fa-file-text-o fa-2x text-yellow"
            aria-hidden="true"
          ></i>
          <div class="card_inner">
            <p class="text-primary-p">Thesis Proposed</p>
            <span class="font-bold text-title">{{numberOfProposedThesis}}</span>
          </div>
        </div>

        <div class="card">
          <i
            class="fa fa-check fa-2x text-green"
            aria-hidden="true"
          ></i>
          <div class="card_inner">
            <p class="text-primary-p">Allocated Thesis</p>
            <span class="font-bold text-title">{{numberOfAllocatedThesis}}</span>
          </div>
        </div>
      </div>
      <!-- MAIN CARDS ENDS HERE -->

      <!-- CHARTS STARTS HERE -->
      <div class="charts">
        <div class="charts__left">
          <div class="charts__left__title">
            <div>
              <h1>Manage Accounts</h1>
              <p>From here you can create new accounts, edit existing or delete.</p>
              <br>
              <button type="button" class="button" (click)="openAddUser(addUserContent)">
                <span class="button__text">Add teacher account</span>
                <span class="button__icon">
                <ion-icon name="open-outline"></ion-icon>
                </span>
              </button>
              <br>
              <button type="button" class="button" (click)="openAddTeacher(addTeacherContent)">
                <span class="button__text">Add teacher details</span>
                <span class="button__icon">
                <ion-icon name="open-outline"></ion-icon>
                </span>
              </button>
              <script src="assets/open-outline.svg"></script>
              <br>
              <button type="button" class="button">
                <span class="button__text">Show teachers table</span>
                <span class="button__icon">
<!--                <ion-icon name="open-outline"></ion-icon>-->
                   <ion-icon ios="ios-open" md="md-open"></ion-icon>
                </span>
              </button>
              <script src="assets/open-outline.svg"></script>

              <br>
              <button type="button" class="button">
                <span class="button__text">Show students table</span>
                <span class="button__icon">
                <ion-icon name="open"></ion-icon>
                </span>
              </button>
              <script src="assets/open-outline.svg"></script>



            </div>
            <i class="fa fa-cogs" aria-hidden="true"></i>
          </div>
          <div id="apex1"></div>
        </div>

        <div class="charts__right">
          <div class="charts__right__title">
            <div>
              <h1>Users Accounts</h1>
              <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                  <button pButton pRipple label="Delete Selected" icon="pi pi-trash" class="p-button-danger" style="width:160px; padding:3px; background: #F59E0B; border: 1px solid #F59E0B; margin: 5px;" ></button>
                </ng-template>
              </p-toolbar>

              <p-table #dt [columns] = "cols" [value]="users" [rows]="3" [paginator]="true"
                       [(selection)]="selectedUsers" [rowHover]="true"   dataKey="idUserAccount"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 2.25em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th>Permission</th>
                    <th>Action</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                      {{rowData[col.field]}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-success" (click) = "giveTeacherRoleToUser(rowData)">MAKE TEACHER</button>
                      <button type="button" class="btn btn-warning" (click) = "giveAdminRoleToUser(rowData)">MAKE ADMIN</button>
                      <button type="button" class="btn btn-secondary">DEFAULT ROLE</button>

                    </td>
                    <td>
                      <button pButton pRipple icon="pi pi-pencil"class="p-button-rounded p-button-success p-mr-2" ></button>
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>



          </div>
        </div>

<!--          OPEN MODALS-->

          <ng-template #addUserContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">New User</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm" (ngSubmit)="onSubmitUser(f)" novalidate>
                <div class="form-group">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <input id="username" name="username" class="form-control" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input id="password" name="password" class="form-control" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="roles">Email</label>
                  <div class="input-group">
                    <input id="email" name="email" class="form-control" ngModel>
                  </div>
                </div>

                <div class="border text-center">
                  <button data-dismiss="modal" class="btn btn-info">Submit</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
            </div>
          </ng-template>


          <ng-template #addTeacherContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modalTeacher-basic-title">Add teacher details</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm" (ngSubmit)="onSubmitTeacher(f)" novalidate>
                <div class="form-group">
                  <label for="idUserAccount">ID user account</label>
                  <div class="input-group">
                    <input id="idUserAccount" name="idUserAccount" class="form-control" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <div class="input-group">
                    <input id="firstName" name="firstName" class="form-control" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <div class="input-group">
                    <input id="lastName" name="lastName" class="form-control" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cnp">CNP</label>
                  <div class="input-group">
                    <input id="cnp" name="cnp" class="form-control" ngModel>
                  </div>
                </div>
                <div class="form-group">
                  <label for="numberOfStudents">Number of Students</label>
                  <div class="input-group">
                    <input id="numberOfStudents" name="numberOfStudents" class="form-control" ngModel>
                  </div>
                </div>

                <div class="border text-center">
                  <button data-dismiss="modal" class="btn btn-info">Submit</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
            </div>
          </ng-template>




          <div class="charts__right__cards">
          </div>
        </div>
      </div>
      <!-- CHARTS ENDS HERE -->
  </main>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</div>

</body>

</html>
