<!--<div class="container">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8</div>-->
<!--    <mat-card class="card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar>-->
<!--        </div>-->
<!--          <mat-card-title>Andreea Badea</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <p> Student</p>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--    <div class="col-6 col-md-4">.col-6 .col-md-4</div>-->
<!--</div>-->
<!--</div>-->

<div class = "container">
  <mat-grid-list cols="3" rowHeight="280px" >
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows">
<!--      [style.background]="tile.color"-->

      {{tile.text}}
    </mat-grid-tile>

    <md-card-header>
      <!--Avatar-->
      <md-card-avatar>
        <img src="../../images/female-student.jpg" class="md-user-avatar"/>
      </md-card-avatar>
    </md-card-header>
    <img src="../../images/female-student.jpg" class="md-card-image" alt="Card Image">
  </mat-grid-list>

  <p-timeline [value]="events" align="right">
    <ng-template pTemplate="content" let-event>
      {{event.status}}
    </ng-template>
  </p-timeline>



</div>



