<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
  <title>Profile</title>
</head>
<body id="body">

<div class="container">
  <main>
    <div class="main__cards">
      <!-- CHARTS STARTS HERE -->
      <div class="charts">
<!--        <div class="charts__left">-->
<!--          <div class="charts__left__title">-->
<!--            <div>-->
<!--            <h1>Profile</h1>-->
             <div class="caca" style="width:900px">
<!--               <div>-->
<!--                 <h1>Profile</h1>-->
<!--                <div class="charts__left__title">-->
<!--              <div class = "teacher-svg-avatar">-->
<!--                  <img src="assets/teacher-avatar.svg" alt="" />-->
<!--              </div>-->

<!--              <div class="card user-card-full">-->
<!--                  <div class="row m-l-0 m-r-0">-->
                  <div class="col-sm-3 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                      <div class="m-b-25">
                        <img src="assets/teacher-avatar.svg" alt="User-Profile-Image">
                      </div>
                      <h6 class="f-w-600">{{currentTeacher.firstName}} {{currentTeacher.lastName}}</h6>
                      <p>Teacher</p>
                      <br><br><br><br><br><br>
                      <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" (click)="openEditProfile(contentEditProfile, currentTeacherSkillsObject)"/>
                    </div>
<!--                  </div>-->
                  </div>


                    <div class="col-sm-8">
                    <div class="card-block">
                      <h6 class="m-b-20 p-b-5 b-b-default f-w-600">INFORMATIONS</h6>
                      <div class="row">
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Email</p>
                          <h6 class="text-muted f-w-400">{{retrivedUserObject.email}}</h6>
                        </div>
                      </div>
                      <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">COORDINATING DETAILS</h6>
                      <div class="row">
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Total number of students</p>
                          <h6 class="text-muted f-w-400">{{currentTeacher.numberOfStudents}}</h6>
                        </div>
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Remaining available</p>
                          <h6 class="text-muted f-w-400">4</h6>
                        </div>
                      </div>

                      <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">EXPERIENCE</h6>
                      <div class="row">
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Skills</p>
                          <h6 class="text-muted f-w-400">{{currentTeacherSkillsObject.skillsName}}</h6>
                        </div>
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Teaching Subjects</p>
                          <h6 class="text-muted f-w-400">{{currentTeacherSkillsObject.teachingSubjects}}</h6>
                        </div>
                      </div>
                    </div>


                  <div class="col-md-2">
<!--                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" (click)="openEditProfile(contentEditProfile, currentTeacherSkillsObject)"/>-->
                  </div>
                  </div>

                </div>
<!--            </div>-->
<!--            </div>-->
<!--</div>-->

<!--&lt;!&ndash;        </div>&ndash;&gt; aici-->


          <!--            EDIT PROFILE MODAL AND FORM-->
          <ng-template #contentEditProfile let-modal>
            <div class="modal-header">
              <h4 class="modalEdit-title" id="modalEditProfile-basic-title">Edit Experience Informations</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editProfileForm"  novalidate>
                <div class="form-group">
                  <label for="skillsName">Skills</label>
                  <div class="input-group">
                    <input formControlName="skillsName" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="teachingSubjects">Teaching Subjects</label>
                  <div class="input-group">
                    <input formControlName="teachingSubjects" class="form-control">
                  </div>
                </div>
                <div class="border text-center">
                  <button data-dismiss="modal" class="btn btn-info" (click)=onSaveExperience()>Save Profile Changes</button>
                </div>
              </form>
            </div>
          </ng-template>
<!--THE END OF EDIT PROFILE MODAL FORM-->


        <div class="charts__right">
          <div class="charts__right__title">
            <div style="width:900px">
              <h1>Proposed Thesis</h1>
              <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                  <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success p-mr-2" style="width:80px; padding:3px; margin: 5px;" (click) = open(content)></button>
                  <button pButton pRipple label="Delete Selected" icon="pi pi-trash" class="p-button-danger" style="width:160px; padding:3px; background: #F59E0B; border: 1px solid #F59E0B; margin: 5px;" ></button>
                </ng-template>
              </p-toolbar>

              <p-table #dt [columns] = "cols" [value]="projects" [rows]="10" [paginator]="true" [globalFilterFields]="['title','status']"
                       [(selection)]="selectedProjects" [rowHover]="true"   dataKey="idProject"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">


                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 2.25em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th>Action</th>
                  </tr>
                </ng-template>


                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                      {{rowData[col.field]}}
                    </td>
                    <td>
                      <button pButton pRipple icon="pi pi-pencil"class="p-button-rounded p-button-success p-mr-2" (click)="openEdit(contentEdit, rowData)"></button>
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click) = "openDelete(contentDelete, rowData)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>


            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">New Project</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                  <div class="form-group">
                    <label for="projectTitle">Title</label>
                    <div class="input-group">
                      <input id="projectTitle" name="projectTitle" class="form-control" ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="projectDescription">Description</label>
                    <div class="input-group">
                      <input id="projectDescription" name="projectDescription" class="form-control" ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="projectAvailability">Status</label>
                    <div class="input-group">
                      <select id="projectAvailability" name="projectAvailability" class="form-control" ngModel>
                        <option value="available">AVAILABLE</option>
                        <option value="allocated">ALLOCATED</option>
                      </select>
                    </div>
                  </div>

                  <div class="border text-center">
                    <button data-dismiss="modal" class="btn btn-info">Submit</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
              </div>
            </ng-template>



            <ng-template #contentEdit let-modal>
              <div class="modal-header">
                <h4 class="modalEdit-title" id="modalEdit-basic-title">Edit Project</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form [formGroup]="editForm" novalidate>
                  <div class="form-group">
                    <label>Id</label>
                    <div class="input-group">
                      <input formControlName="idProject" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="projectTitle">Title</label>
                    <div class="input-group">
                      <input formControlName="projectTitle" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="projectDescription">Description</label>
                    <div class="input-group">
                      <input formControlName="projectDescription" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="projectAvailability">Status</label>
                    <div class="input-group">
                      <select formControlName="projectAvailability" class="form-control">
                        <option value="available">AVAILABLE</option>
                        <option value="allocated">ALLOCATED</option>
                      </select>
                    </div>
                  </div>

                  <div class="border text-center">
                    <button data-dismiss="modal" class="btn btn-info" (click)=onSave()>Save Changes</button>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
              </div>
            </ng-template>

            <ng-template #contentDelete let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h2>Are you sure you want to delete this record?</h2>
                <div class="border text-center">
                  <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
              </div>
            </ng-template>



          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>

