.p-button.p-button-icon-only {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5em;
}


.p-datatable .p-datatable-thead > tr > th {
  width: inherit !important;
}

.p-input-icon-left, .p-input-icon-right {
  position: relative;
  display: inline-block;
  float: right;
}

.width-container {
  padding: 0px;
  max-width: 1900px;
  margin-right: 5px;
  margin-left: 5px;
}


/*@media (min-width: 992px)*/
/*.container, .container-lg, .container-md, .container-sm, .container-xl {*/
/*  max-width: 1900px;*/

/*}*/

  @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1900px;
    }
    }
